extends ./layouts/default.jade
block content
  section#todoapp
    header#header
      h1 ToDoリスト
      input#new-todo(placeholder="することを入力してください",autofocus)
    section#main
      input#toggle-all(type="checkbox")
      label(for="toggle-all") すべて完了済みにする
      ul#todo-list
    footer#footer

  div#info
    p 項目をダブルクリックすると編集できます
    p 作: 
      a(href="https://github.com/addyosmani",target="_blank") Addy Osmani

block append javascripts
  script(src="js/namespace.js")
  script(src="js/models/todo.js")
  script(src="js/collections/todo.js")
  script(src="js/views/todo.js")
  script(src="js/views/app.js")
  script(src="js/app.js")

block template

  script#item-template(type="text/template")
    div.view
      | <input class="toggle" type="checkbox"<%= completed ? ' checked': '' %>>
      label <%- title %>
      button.destroy
    input.edit(value="<%- title %>")

  script#stats-template(type="text/template")
    span#todo-count 残り
      strong <%= remaining %>件
    ul#filters
      li
        a.selected すべて
      li
        a(href="#/completed") 完了済み
      li
        a(href="#/active") 未完了

    <% if (completed) { %>
    button#clear-completed 完了済みの項目を消去(<%= complated %>件)
    <% } %>
